	<% simple_files = @files.select {|tl| tl.parser == RDoc::Parser::Simple } %>
	<% unless simple_files.empty? then %>
	<h2>Files</h2>
	<ul>
		<% simple_files.sort.each do |file| %>
			<li class="file"><a href="<%= file.path %>"><%= h file.base_name %></a></li>
		<% end %>
	</ul>
	<% end %>

	<h2>Classes/Modules</h2>
	<ul>
		<% @modsort.each do |klass| %>
		<li class="<%= klass.type %>"><a href="<%= klass.path %>"><%= klass.full_name %></a></li>
		<% end %>
	</ul>
