<body class="indexpage">	

	<h1><%= h @options.title %></h1>

  <p>This is the API documentation for '<%= @options.title %>'.</p>
  
  <h2>Classes/Modules</h2>
	<ul>
		<% @modsort.each do |klass| %>
		<li class="<%= klass.type %>"><a href="<%= klass.path %>"><%= klass.full_name %></a></li>
		<% end %>
	</ul>
