<body class="indexpage">	

	<h1><%= h @options.title %></h1>

  <p>This is the API documentation for '<%= @options.title %>'.</p>
  
	<% simple_files = @files.select { |f| f.text? } %>
	<% unless simple_files.empty? then %>
	<h2>Files</h2>
	<ul>
		<% simple_files.sort.each do |file| %>
			<li class="file"><a href="<%= file.path %>"><%= h file.base_name %></a></li>
		<% end %>
	</ul>
	<% end %>
