<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta content="text/html; charset=<%= @options.charset %>" http-equiv="Content-Type" />

	<title>Files</title>

	<link type="text/css" media="screen" href="rdoc.css" rel="stylesheet" />

</head>
<body class="indexpage">	

	<% $stderr.sync = true %>
	<h1><%= h @options.title %></h1>

  <p>This is the API documentation for '<%= @options.title %>'.</p>
  
	<% simple_files = @files.select {|tl| tl.parser == RDoc::Parser::Simple } %>
	<% unless simple_files.empty? then %>
	<h2>Files</h2>
	<ul>
		<% simple_files.sort.each do |file| %>
			<li class="file"><a href="<%= file.path %>"><%= h file.base_name %></a></li>
		<% end %>
	</ul>
	<% end %>

</body>
</html>
