<body class="indexpage">
	<h1><%= h @options.title %></h1>

	<% if @options.main_page && main_page = @files.find { |f| f.full_name == @options.main_page } %>
	<div id="main">
		<%= main_page.description.sub(%r{^\s*<h1.*?/h1>}i, '') %>
	</div>
	<% else %>
	<p>This is the API documentation for '<%= @options.title %>'.</p>
	<% end %>

  <%= render '_index_modules_and_files.rhtml' %>

  <%= render '_hidden_images.rhtml' %>
